[MESSAGES CONTROL]
disable=R,wrong-import-order,wrong-import-position,ungrouped-imports,missing-docstring,invalid-name,locally-disabled,attribute-defined-outside-init,redefined-outer-name,bad-builtin,len-as-condition

[REPORTS]
reports=no

[FORMAT]
max-line-length=160

[TYPECHECK]
ignored-classes=Munch
